In [1]:
 import pandas as pd
import matplotlib.pyplot as plt

In [2]:
covid_file = "../CSV/covid_us_county.csv"
population_file="../CSV/US_population.csv"

covid_df = pd.read_csv(covid_file)

population_df=pd.read_csv(population_file)
population_df

                   state  Population
0          United States   328239523
1                Alabama     4903185
2                 Alaska      731545
3                Arizona     7278717
4               Arkansas     3017804
5             California    39512223
6               Colorado     5758736
7            Connecticut     3565287
8               Delaware      973764
9   District of Columbia      705749
10               Florida    21477737
11               Georgia    10617423
12                Hawaii     1415872
13                 Idaho     1787065
14              Illinois    12671821
15               Indiana     6732219
16                  Iowa     3155070
17                Kansas     2913314
18              Kentucky     4467673
19             Louisiana     4648794
20                 Maine     1344212
21              Maryland     6045680
22         Massachusetts     6892503
23              Michigan     9986857
24             Minnesota     5639632
25           Mississippi     2976149
26              Missouri     6137428
27               Montana     1068778
28              Nebraska     1934408
29                Nevada     3080156
30         New Hampshire     1359711
31            New Jersey     8882190
32            New Mexico     2096829
33              New York    19453561
34        North Carolina    10488084
35          North Dakota      762062
36                  Ohio    11689100
37              Oklahoma     3956971
38                Oregon     4217737
39          Pennsylvania    12801989
40          Rhode Island     1059361
41        South Carolina     5148714
42          South Dakota      884659
43             Tennessee     6829174
44                 Texas    28995881
45                  Utah     3205958
46               Vermont      623989
47              Virginia     8535519
48            Washington     7614893
49         West Virginia     1792147
50             Wisconsin     5822434
51               Wyoming      578759
52           Puerto Rico     3193694

In [3]:
case_total = covid_df.groupby(["state"]).sum()["cases"]
mean_state=covid_df.groupby(["state"]).mean()["cases"]

covid_by_state=pd.DataFrame({"Cases":case_total,
                             "Mean" :mean_state}).reset_index()

                             
covid_by_state

                       state      Cases          Mean
0                    Alabama  135880256   3587.029276
1                     Alaska   15840038    874.319037
2             American Samoa          0      0.000000
3                    Arizona  215542041  23094.614915
4                   Arkansas   84590771   2001.059092
5                 California  907073075  27537.130389
6                   Colorado  120717814   3331.617100
7                Connecticut   79770138  14530.079781
8                   Delaware   24557044   8946.099818
9           Diamond Princess      24200     44.080146
10      District of Columbia   12591796   7645.292046
11                   Florida  560050188  14784.461551
12                   Georgia  275662716   3118.744595
13            Grand Princess      50049     91.163934
14                      Guam    2232583   4066.635701
15                    Hawaii    8667462   2255.389539
16                     Idaho   47216187   1869.651818
17                  Illinois  339614746   5948.135526
18                   Indiana  176325265   3416.759001
19                      Iowa   94554494   1705.251565
20                    Kansas   77113542   1312.727338
21                  Kentucky  103785164   1549.541103
22                 Louisiana  125195656   3455.198322
23                     Maine   12580464   1273.068610
24                  Maryland  113165182   7928.063752
25             Massachusetts  165120744  17692.140148
26                  Michigan  207821532   4351.098800
27                 Minnesota  139289789   2850.735535
28               Mississippi   81642965   1770.382622
29                  Missouri  150169147   2318.069016
30                   Montana   26284390    825.462911
31                  Nebraska   55827509   1070.415281
32                    Nevada   80431833   7710.845844
33             New Hampshire   19954762   3028.955981
34                New Jersey  240319228  19032.171379
35                New Mexico   48422124   2520.016862
36                  New York  497512534  14159.623577
37            North Carolina  230183531   4110.567002
38              North Dakota   27946971    925.549627
39  Northern Mariana Islands      47980     87.395264
40                      Ohio  251172784   5083.440275
41                  Oklahoma  107861375   2486.946923
42                    Oregon   43828018   2100.854089
43              Pennsylvania  260573383   6878.735593
44               Puerto Rico   29167411    664.103165
45              Rhode Island   35089370   9130.723393
46            South Carolina  138124222   5241.508121
47              South Dakota   31164984    834.806172
48                 Tennessee  208777698   3920.487071
49                     Texas  716935624   5101.147143
50                      Utah   97885768   4818.873037
51                   Vermont    4456421    507.333903
52            Virgin Islands     837904   1526.236794
53                  Virginia  156108047   2106.294907
54                Washington   98918404   4394.615665
55             West Virginia   33785126   1079.638449
56                 Wisconsin  167301281   4118.084010
57                   Wyoming   14151229   1031.054936

In [18]:
merge_df = pd.merge(covid_by_state , population_df, on="state")

merge_df["Infection Rate"]=(merge_df["Cases"]/merge_df["Population"])*100
merge_df

                   state      Cases          Mean  Population  Infection Rate
0                Alabama  135880256   3587.029276     4903185     2771.265127
1                 Alaska   15840038    874.319037      731545     2165.285526
2                Arizona  215542041  23094.614915     7278717     2961.264204
3               Arkansas   84590771   2001.059092     3017804     2803.057157
4             California  907073075  27537.130389    39512223     2295.677150
5               Colorado  120717814   3331.617100     5758736     2096.255394
6            Connecticut   79770138  14530.079781     3565287     2237.411406
7               Delaware   24557044   8946.099818      973764     2521.868132
8   District of Columbia   12591796   7645.292046      705749     1784.174827
9                Florida  560050188  14784.461551    21477737     2607.584719
10               Georgia  275662716   3118.744595    10617423     2596.324136
11                Hawaii    8667462   2255.389539     1415872      612.164235
12                 Idaho   47216187   1869.651818     1787065     2642.107982
13              Illinois  339614746   5948.135526    12671821     2680.078467
14               Indiana  176325265   3416.759001     6732219     2619.125507
15                  Iowa   94554494   1705.251565     3155070     2996.906376
16                Kansas   77113542   1312.727338     2913314     2646.935483
17              Kentucky  103785164   1549.541103     4467673     2323.025074
18             Louisiana  125195656   3455.198322     4648794     2693.078162
19                 Maine   12580464   1273.068610     1344212      935.898802
20              Maryland  113165182   7928.063752     6045680     1871.835459
21         Massachusetts  165120744  17692.140148     6892503     2395.657194
22              Michigan  207821532   4351.098800     9986857     2080.950313
23             Minnesota  139289789   2850.735535     5639632     2469.838262
24           Mississippi   81642965   1770.382622     2976149     2743.241854
25              Missouri  150169147   2318.069016     6137428     2446.776516
26               Montana   26284390    825.462911     1068778     2459.293698
27              Nebraska   55827509   1070.415281     1934408     2886.025544
28                Nevada   80431833   7710.845844     3080156     2611.290889
29         New Hampshire   19954762   3028.955981     1359711     1467.573771
30            New Jersey  240319228  19032.171379     8882190     2705.630346
31            New Mexico   48422124   2520.016862     2096829     2309.302475
32              New York  497512534  14159.623577    19453561     2557.436831
33        North Carolina  230183531   4110.567002    10488084     2194.714793
34          North Dakota   27946971    925.549627      762062     3667.283108
35                  Ohio  251172784   5083.440275    11689100     2148.777784
36              Oklahoma  107861375   2486.946923     3956971     2725.857101
37                Oregon   43828018   2100.854089     4217737     1039.135868
38          Pennsylvania  260573383   6878.735593    12801989     2035.413271
39           Puerto Rico   29167411    664.103165     3193694      913.281329
40          Rhode Island   35089370   9130.723393     1059361     3312.314688
41        South Carolina  138124222   5241.508121     5148714     2682.693620
42          South Dakota   31164984    834.806172      884659     3522.824501
43             Tennessee  208777698   3920.487071     6829174     3057.144217
44                 Texas  716935624   5101.147143    28995881     2472.542993
45                  Utah   97885768   4818.873037     3205958     3053.245489
46               Vermont    4456421    507.333903      623989      714.182622
47              Virginia  156108047   2106.294907     8535519     1828.922729
48            Washington   98918404   4394.615665     7614893     1299.012396
49         West Virginia   33785126   1079.638449     1792147     1885.176049
50             Wisconsin  167301281   4118.084010     5822434     2873.390768
51               Wyoming   14151229   1031.054936      578759     2445.098737

In [ ]:
covid_by_state.plot(kind="bar",)
plt.xlabel('State')
plt.ylabel('Number of Positive covid tests in 2020')
plt.figure (figsize=(20,40))
plt.show()

In [ ]:
Ten_top=pd.DataFrame(covid_by_state.nlargest(10, ['Cases']))
Ten_top

In [ ]:
Ten_top.plot(kind="bar",)
plt.xlabel('State')
plt.ylabel('Number of Positive covid tests in 2020')
plt.figure (figsize=(20,40))
plt.show()