In [1]:
import pandas as pd
import requests
import json
import csv

In [2]:
url=" https://data.bts.gov/resource/crem-w557.json?$where=auto_sales!=0"

In [3]:
print(requests.get(url))

<Response [200]>

In [4]:
response = requests.get(url)
response_json = response.json()
auto_sales_df=pd.DataFrame(response_json)
recent_sales=auto_sales_df.tail(60)
recent_sales=recent_sales[["date","auto_sales","heavy_truck_sales","light_truck_sales"]]
recent_sales.head()

                        date auto_sales heavy_truck_sales light_truck_sales
593  2016-06-01T00:00:00.000   605400.0           35700.0          908600.0
594  2016-07-01T00:00:00.000   591500.0           30100.0          925900.0
595  2016-08-01T00:00:00.000   580800.0           33600.0          926400.0
596  2016-09-01T00:00:00.000   556300.0           32400.0          874700.0
597  2016-10-01T00:00:00.000   507200.0           29900.0          861300.0

In [5]:
recent_sales['date']=recent_sales['date'].str.slice(0,4)
recent_sales.head()

     date auto_sales heavy_truck_sales light_truck_sales
593  2016   605400.0           35700.0          908600.0
594  2016   591500.0           30100.0          925900.0
595  2016   580800.0           33600.0          926400.0
596  2016   556300.0           32400.0          874700.0
597  2016   507200.0           29900.0          861300.0

In [6]:
#recent_sales=pd.to_numeric(recent_sales['date'],downcast="int")
recent_sales['auto_sales']=pd.to_numeric(recent_sales['auto_sales'],downcast="float")
#recent_sales=pd.to_numeric(recent_sales['heavy_truck_sales'],downcast="float")
#recent_sales=pd.to_numeric(recent_sales['light_truck_sales'],downcast="float")

recent_sales.head()
#recent_sales.groupby(recent_sales['date']).mean()

     date  auto_sales heavy_truck_sales light_truck_sales
593  2016    605400.0           35700.0          908600.0
594  2016    591500.0           30100.0          925900.0
595  2016    580800.0           33600.0          926400.0
596  2016    556300.0           32400.0          874700.0
597  2016    507200.0           29900.0          861300.0

In [9]:
recent_sales.groupby(recent_sales['date']).mean()

        auto_sales
date
2016  564514.31250
2017  507433.34375
2018  442516.65625
2019  393316.65625
2020  283483.34375
2021  322560.00000