In [1]:
import pandas as pd
import requests
import json
import csv

In [2]:
url=" https://data.bts.gov/resource/crem-w557.json?$where=auto_sales!=0"

In [3]:
print(requests.get(url))

<Response [200]>

In [4]:
response = requests.get(url)
response_json = response.json()
auto_sales_df=pd.DataFrame(response_json)
recent_sales=auto_sales_df.tail(77)
recent_sales=recent_sales[["date","auto_sales","heavy_truck_sales","light_truck_sales"]]
recent_sales.head()

                        date auto_sales heavy_truck_sales light_truck_sales
576  2015-01-01T00:00:00.000   515400.0           30700.0          632300.0
577  2015-02-01T00:00:00.000   558200.0           31300.0          696300.0
578  2015-03-01T00:00:00.000   717500.0           38000.0          824900.0
579  2015-04-01T00:00:00.000   646400.0           36200.0          797800.0
580  2015-05-01T00:00:00.000   748000.0           37100.0          884500.0

In [5]:
recent_sales['date']=recent_sales['date'].str.slice(0,4)
recent_sales.head()

     date auto_sales heavy_truck_sales light_truck_sales
576  2015   515400.0           30700.0          632300.0
577  2015   558200.0           31300.0          696300.0
578  2015   717500.0           38000.0          824900.0
579  2015   646400.0           36200.0          797800.0
580  2015   748000.0           37100.0          884500.0

In [6]:
#recent_sales=pd.to_numeric(recent_sales['date'],downcast="int")
recent_sales['auto_sales']=pd.to_numeric(recent_sales['auto_sales'],downcast="float")
#recent_sales=pd.to_numeric(recent_sales['heavy_truck_sales'],downcast="float")
#recent_sales=pd.to_numeric(recent_sales['light_truck_sales'],downcast="float")

recent_sales.head()
#recent_sales.groupby(recent_sales['date']).mean()

     date  auto_sales heavy_truck_sales light_truck_sales
576  2015    515400.0           30700.0          632300.0
577  2015    558200.0           31300.0          696300.0
578  2015    717500.0           38000.0          824900.0
579  2015    646400.0           36200.0          797800.0
580  2015    748000.0           37100.0          884500.0

In [7]:
av_monthly_sales=recent_sales.groupby(recent_sales['date']).mean()

In [8]:
av_monthly_sales.rename(columns = {"auto_sales":"average monthly sales"},inplace=True)
av_monthly_sales.reset_index()
#info from US Department of Transportation

   date  average monthly sales
0  2015           627375.00000
1  2016           573600.00000
2  2017           507433.34375
3  2018           442516.65625
4  2019           393316.65625
5  2020           283483.34375
6  2021           322560.00000

In [22]:
url="https://data.bts.gov/resource/crem-w557.json"
print(requests.get(url))

<Response [200]>

In [23]:
response = requests.get(url)
response_json = response.json()
auto_sales_df=pd.DataFrame(response_json)

In [30]:
transport_df=auto_sales_df[["date","system_use_u_s_airline",
                           "passenger_rail_passengers",
                           "transportation_economic_2",
                           "system_use_transit_ridership_1",
                          "system_use_transit_ridership",
                          "transportation_economic",
                          "auto_sales_saar_millions"]
                          ]

transport_df=transport_df.dropna()

In [33]:
transport_df['date']=transport_df['date'].str.slice(0,10)
transport_df=transport_df.rename(columns={"system_use_u_s_airline":"Domestic Flights",
                           "passenger_rail_passengers":"Passenger Rail Passengers",
                           "transportation_economic_2":"Personal Spending on Transportation Services",
                           "system_use_transit_ridership_1":"Use on Fixed Bus Routes",
                          "system_use_transit_ridership":"Use on Urban Rail",
                          "transportation_economic":"Personal Spending on Motor Vehicles and Parts",
                          "auto_sales_saar_millions":"Auto Sales in Millions"})

In [34]:
transport_df

,date,Domestic Flights,Passenger Rail Passengers,Personal Spending on Transportation Services,Use on Fixed Bus Routes,Use on Urban Rail,Personal Spending on Motor Vehicles and Parts,Auto Sales in Millions
840,2017-01-01,61280000.0,2330923.0,411206000000.0,379032287.0,385406234.0,500251000000.00006,6272000.0
843,2017-04-01,61210000.0,2764389.0,414624999999.99994,388066756.0,407072908.0,502296000000.0,6225000.0
846,2017-07-01,62060000.0,3012988.0,422094000000.0,361210003.0,388539014.0,515366000000.0,5964000.0
849,2017-10-01,62990000.0,2788447.0,431766000000.0,425403015.0,444700375.0,534119000000.00006,6232000.0
852,2018-01-01,63450000.0,2308715.0,440842000000.0,369920847.0,381378921.0,530979000000.00006,5467000.0
855,2018-04-01,64650000.00000001,2595973.0,436870000000.0,392252372.0,398115089.0,536407000000.00006,5330000.0
858,2018-07-01,65180000.00000001,3063808.0,432812999999.99994,362119816.0,394287833.0,535746000000.0,5179000.0
861,2018-10-01,65560000.0,2809806.0,432252999999.99994,437208668.0,443479335.0,537098000000.0,5573000.0
864,2019-01-01,65640000.0,2288770.0,434827000000.00006,367851089.0,368022820.0,520592999999.99994,5251000.0
867,2019-04-01,67040000.00000001,2728995.0,439804999999.99994,397479345.0,415533810.0,534615000000.00006,4807000.0
870,2019-07-01,67810000.0,3108797.0,447355000000.00006,369342381.0,411609150.0,535079000000.00006,4651000.0
873,2019-10-01,67950000.0,2856692.0,447840999999.99994,426401216.0,448819797.0,539220000000.0,4427000.0
876,2020-01-01,69990000.0,2399424.0,414816000000.0,375834492.0,406474497.0,495871000000.00006,4364000.0
879,2020-04-01,2860000.0,121154.0,267290000000.0,111116448.0,42951341.0,497308999999.99994,1974000.0
882,2020-07-01,20300000.0,572147.0,339768999999.99994,182412121.0,99378564.0,574060000000.0,3469000.0
885,2020-10-01,27240000.0,685989.0,336907000000.00006,189059005.0,137304596.0,573258000000.0,3859000.0
888,2021-01-01,27640000.0,487403.0,345094000000.0,159021133.0,113532825.0,649908000000.0,3770000.0